header {
  display: flex;
  justify-content: space-between;
}

.drop-container {
  position: relative;
}

.drop-menu {
  position: absolute;
  background: var(--drop-menu-bg, #fff);
  max-height: 0;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 100;
}

.drop-toggle,
.drop-item {
  outline: none;
  border: none;
  background: unset;
  color: inherit;
}

.drop-toggle {
  position: relative;
  cursor: pointer;
  padding-top: var(--drop-toggle-py, 10px);
  padding-right: calc(var(--drop-toggle-px, 10px) + 18px);
  padding-bottom: var(--drop-toggle-py, 10px);
  padding-left: var(--drop-toggle-px, 10px);
}

.drop-toggle:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid inherit;
  translate: 0 -50%;
}

.drop-item {
  width: 100%;
  display: block;
  padding: 10px;
  border-bottom: 1px solid var(--drop-item-brd-color, gray);
  text-align: start;
}

/* Visible */
.visible .drop-menu {
  max-height: var(--drop-menu-h, max-content);
}

.visible .drop-toggle:after {
  rotate: 180deg;
}

/* Mobile */
@media (max-width: 480px) {
  .drop-menu {
    min-width: unset;
    width: 100vw;
  }
}

/* Desktop */
@media (min-width: 481px) {
  .drop-menu {
    min-width: var(--drop-menu-minw, 200px);
    width: min-content;
  }
}
